    body {
        margin: 0px;
        padding: 0px;
    }
    
    h1 {
        font-size: 50px;
        font-family: 'Pushster', cursive;
    }
    
    .span-name-color {
        color: royalblue;
    }
    
    h2 {
        font-size: 3gi0px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .box-width p {
        font-family: 'Architects Daughter', cursive;
        font-size: x-large;
    }
    
    .header-top-banner {
        background-image: url(../images/top-banner.png);
        background-repeat: no-repeat;
        display: flex;
        text-align: justify;
    }
    
    .box-width {
        width: 50%;
        padding: 3%;
    }
    
    .box-width img {
        width: 90%;
    }
    
    .hire-me-button {
        font-size: x-large;
        color: seashell;
        text-decoration: none;
        background-image: linear-gradient( 60deg, lightsalmon, tomato);
        padding: 10px 40px;
        border-radius: 7px;
        font-weight: 700;
    }